html {
  background-color: black;
  /* background-image: linear-gradient(90deg, black , #004d2e); */
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, p {
  color: white;
}

h2, h3, h4 {
  font-weight: 400;
}


h1 {
  font-weight: 300;
  font-size: 3.5em;
  margin-left: 12%
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  line-height: 1.4;
}

.box {
  border: 1px solid  #262626;
  width: 50%;
  border-radius: 10px;
  margin: 3% auto;
  background-image: linear-gradient(70deg, black , #262626);
  word-wrap: break-word;
}

.box > * {
  margin: 5%;
  
}

.link-button {
  border: none;
  display: block;
  color: #e6e6e6;
  background-color: #1a1a1a;
  font-size: 1.1em;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px 7px;
  transition: background-color 0.2s, color 0.2s;
}

.search-button {
  border: none;
  color: #e6e6e6;
  background-color: #1a1a1a;
  font-size: 1.1em;
  border-radius: 3px;
  padding: 5px 7px;
  transition: background-color 0.2s, color 0.2s;
}

.link-button:hover{
  background-color: #002966;
  color: white;
  cursor: pointer;
}

form {
  /* margin: 0 auto;
  text-align: center; */
  display: flex;
  /* align-items: center; */
  /* margin: 0 auto;
  text-align: center; */
  justify-content: center;
}

.messages {
  text-align: center;
}

input {
  color: #cccccc;
  background-color: black;
  border: 1px solid gray;
  height: 2em;
  font-weight: 400;
  border-radius: 5px;
  width: 20%
}

input:focus {
  background-color: #1a1a1a;
  border: 1px solid #666666;
  outline: none;
}